{% extends base_template %}
{% load i18n %}
{% load django_vite %}

{% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% vite_hmr_client %}
{% endblock %}

{% block content %}
  <h1>Aquarius Insights</h1>
    <p>{% trans "Here is a list of all defined locations in our Aquarius system: " %}</p>
    <div id="app" ></div>
    <script>
      window.initSettings ={
        aquariusAPIUrl: "{% url 'internal:aquarius:aquarius_api_proxy' 'ENDPOINT' 'ROUTE' %}",
        apiLocationsUrl: "{% url 'internal:aquarius:api:locations-list' %}",
        apiUpdateLocationUrl: "{% url 'internal:aquarius:api:locations-detail' 'IDENTIFIER' %}",
        csrfToken: "{{ csrf_token }}",
        permissionEdit: {{ permission_edit|lower }},
      };
    </script>
  {% block scripts %}
    {% vite_asset 'src/aquarius/main.js' %}
  {% endblock %}
{% endblock %}