__pycache__
__pycache__/*
*/__pycache__
*.pyc
garbage
sync.ffs_db
asgII/static/asgII/PDF
asgII/static/asgII/PNG
*.log
logs/
TODO
*/django.mo
*.mo
static_data/

node_modules/
front-end/src/test*
front-end/src/**/*.po
front-end/dist
.vite