# run: pip install -i requirements.txt
progressbar2
pandas
geopandas
rasterio
shapely
django==5.*
django-bootstrap5
sqlalchemy==2.*
psycopg2-binary
pyproj
django-hCaptcha
djangorestframework==3.*
djangorestframework-gis==1.*
django-q2==1.*
croniter
django-request
django-cors-headers
django-vite
django-webmaster-verification
weatherdb