# run: pip install -i requirements.txt
progressbar2
pandas
geopandas
rasterio
shapely
django
django-bootstrap5
sqlalchemy
psycopg2-binary
pyproj
django-hCaptcha
djangorestframework
django-q2
django-request


# maybee not needed anymore
django-npm
geoip2
