{% extends 'asgII/base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}

  <h1>{% trans "Home" %}</h1>
  <p>
    {% trans "This tool presents bias corrected projections of regional climate models for climate stations in the Rhine catchment area. Those were created within the &quot;Impact of climate change on the rain, snow and glacier melt components of streamflow of the river Rhine and its tributaries&quot; project, abbreviated as ASG-II. You can find detailed informations about the project in the" %}
    <a target="_blank" rel="noopener" href="https://www.chr-khr.org/sites/default/files/chrpublications/ASG-II_Synthese_{{ LANGUAGE_CODE.upper }}_mit-Links.pdf">{% trans "project synthesis" %}.</a>
  </p>
  
{% endblock %}