{% extends base_template %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}

  <h1>{% trans "Home" %}</h1>
  <p>
    {% trans "This tool presents bias corrected projections of regional climate models for climate stations in the Rhine catchment area. Those were created within a project funded by the "%}<a target="_blank" rel="noopener" href="https://www.chr-khr.org/{{ LANGUAGE_CODE.lower }}">{% trans "International Commission for the Hydrology of the Rhine basin (CHR)"%}</a>{%trans ": &quot;Impact of climate change on the rain, snow and glacier melt components of streamflow of the river Rhine and its tributaries&quot; project, abbreviated as ASG-II. You can find detailed informations about the project on " %}
    <a target="_blank" rel="noopener" href="https://hydro-projektplattform.uni-freiburg.de/asgrhein">{% trans "this related page" %}</a> {% trans "and particularly in" %}
    <a target="_blank" rel="noopener" href="https://www.chr-khr.org/sites/default/files/chrpublications/ASG-II_Synthese_{{ LANGUAGE_CODE.upper }}_mit-Links.pdf">{% trans "this final project report" %}</a> {% trans "published through CHR, which also lists the underlying meteorological data sources." %}
  </p>
{% endblock %}