{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_first %}
  <title>Hydro-Internals</title>
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico'%}">
  <meta name="description" content='{% trans "Those are some apps for internal use of the hydrology departement" %}'>
{% endblock %}

{% block navbar_brand %}
  <img type="image/png" src="{% static "img/logo_HydroApps.png" %}" alt="HydroAps Logo" class="d-none d-sm-inline">
{% endblock %}

{% block navbar_appname %}Hydro-Internals{% endblock %}

{% block navbar_app %}
  <ul class="navbar-nav mr-auto">
    <li class="nav-item "><a href="{% url 'internal:home' %}" class="nav-link">{% trans "Home" %}</a></li>
    <li class="nav-item "><a href="{% url 'internal:aquarius:app' %}" class="nav-link">Aquarius</a></li>
  </ul>
{% endblock %}