{% extends base_template %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}


{% block content %}

  <h1>{% trans "Home" %}</h1>
  <p>{% blocktrans %}Here you will find some Hydro-internal apps that could be usefull for you. {% endblocktrans %}</p>
  <div class="container">
    <div class="row g-4">
      <div class="col col-flex flex-grow-0">
        <div class="col col-flex flex-grow-0">
          {% if "aquarius" in app_permissions %}
            <div class="card hydroapps-card h-100">
              <a href="{% url 'internal:aquarius:app' %}" class="stretched-link"></a>
              <img src="{% static 'internal/aquarius/img/aquarius_logo.svg' %}" class="card-img-top mx-auto" height="160" alt="Logo of Hydro-internals">
              <div class="card-body">
                <h5 class="card-title">Aquarius Insights</h5>
                <p class="card-text">{% trans "Here you will see an overview of all locations in the Aquarius System" %} </p>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}