{% extends base_template %}
{% load bootstrap5 %}

{% block content %}
<h2>Change Password for {{user.username}}</h2>
<form method="post">
    {% csrf_token %}
    {% bootstrap_field form.old_password show_label='skip' addon_before='Old Password'%}
    {% bootstrap_field form.new_password1 show_label='skip' addon_before='New Password'%}
    {% bootstrap_field form.new_password2 show_label='skip' addon_before='New Password confirmation'%}
    <input type="submit" class="btn btn-primary" value="Save Changes">
</form>
{% endblock %}