{% extends base_template %}
{% load bootstrap5 %}

{% comment %} {% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
{% endblock %} {% endcomment %}

{% block content %}
<h2>profile page for {{user.username}} on the WeatherDB-App</h2>

{% if not user.is_db_user %}
  <div class="modal fade" id="requestDBAccessModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="requestDBAccessModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="requestDBAccessModalLabel">request Access to the Database</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> To access the Database it is important to have a meaningfull personal introduction in your profile settings.</p>
          <p> If you didn't yet provide a good introduction please return to your profile page and update your profile.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">return to profile</button>
          <a type="button btn btn-primary" class="btn btn-primary" href='{%url "weatherDB:request_db_access" %}'>Send request</a>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% if messages %}
  {% for message in messages %}
    <div class="{% if message.tags %}{{ message.tags }}{% endif %} alert alert-dismissible fade show" role="alert">{{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    {% bootstrap_field form.email show_label='skip' addon_before='E-Mail' addon_after_class=None addon_after='<div id="addon_after_email"></div>'%}
    <div class="form-group mb-3">
      <div class="input-group">
        <span class="input-group-text">Password</span>
        <input type="password" name="password" value="notarealpassword" maxlength="50" class="form-control" title="" disabled="" id="id_password">
        <div class="input-group-append">
          <a href="{% url 'password_change' %}" class="btn btn-primary">Change Password</a>
        </div>
      </div>
    </div>
    {% bootstrap_field form.username show_label='skip' addon_before='Username' addon_after_class=None addon_after='<div id="addon_after_user"></div>' %}
    {% bootstrap_field form.first_name show_label='skip' addon_before='First Name' %}
    {% bootstrap_field form.last_name show_label='skip' addon_before='Last Name' %}
    <div class="form-group mb-3">
      <div class="input-group">
        <span class="input-group-text">personal introduction</span>
        {{ form.personal_introduction }}
        {% if not form.personal_introduction.errors %}
          <script type="text/javascript">
            let el = document.getElementById("id_personal_introduction")
            if (el.textContent!=""){
              el.classList.add("is-valid")} ;
          </script>
        {% endif %}
      </div>
      <small class="form-text text-muted">This information will get used to decide whether you are granted access to the database. The information will only be visible to you and the admin of this site.<br>E.g. I am working at the Uni Freiburg Hydrology department or I am student at the hydrology in Freiburg...</small>
    </div>
    {% if user.is_db_user %}
      {% bootstrap_field form.db_password show_label='skip' addon_before='API Password' addon_after_class=None addon_after='<div id="addon_after_api_pwd"></div>' %}
    {% else %}
      <div class="form-group mb-3">
        <div class="input-group">
          <span class="input-group-text">Database access</span>
          <input type="text" name="db_access" value="You haven't yet been granted access to the WeatherDB database." class="form-control" title="" disabled>
          <div class="input-group-append">
            <a class="btn btn-primary" data-toggle="modal" data-target="#requestDBAccessModal" id="requestDBAccessModalButton">request access</a>
          </div>
        </div>
      </div>
    {% endif %}
    {% bootstrap_field form.max_downloads show_label='skip' addon_before='max Dowload' addon_after_class=None addon_after='<div id="addon_after_max_download"></div>' %}
    <input type="submit" class="btn btn-primary" value="Save Changes">
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  (() => {
    let icon = document.createElement('i');
    icon.className = 'bi';
    {% comment %} icon.setAttribute("data-toggle", "tooltip");
    icon.setAttribute("data-placement", "top");  {% endcomment %}

    // email
    let is_email_confirmed = ({{ user.is_email_confirmed|yesno:"true,false" }});
    let addon_after_email = document.getElementById('addon_after_email');
    addon_after_email.className = 'input-group-text';
    addon_after_email.setAttribute("data-toggle", "tooltip");
    addon_after_email.setAttribute("data-placement", "top");
    let icon_email = icon.cloneNode();
    if (is_email_confirmed){
      icon_email.classList.add("bi-envelope-check", "text-success");
      addon_after_email.setAttribute("title", "Your E-Mail adress got confirmed");
    } else {
      icon_email.classList.add("bi-envelope-dash", "text-danger");
      addon_after_email.setAttribute("title", "You still have to confirm your E-Mail adress");

      let btn_resend = document.createElement("a");
      btn_resend.id="btn_resend_email_conf";
      btn_resend.className = "btn btn-outline-primary";
      btn_resend.href="{% url 'resend_email_confirmation' %}";
      btn_resend.innerHTML = "<i class='bi bi-arrow-clockwise'>";
      btn_resend.setAttribute("data-toggle", "tooltip");
      btn_resend.setAttribute("data-placement", "top");
      btn_resend.setAttribute("title", "Resend an E-mail confirmation mail.");
      addon_after_email.parentElement.appendChild(btn_resend);
    }
    addon_after_email.appendChild(icon_email);

    if (!is_email_confirmed){
      let btn_resend = document.createElement("a");
      btn_resend.id="btn_resend_email_conf";
      btn_resend.className = "btn btn-outline-primary";
      btn_resend.href="{% url 'resend_email_confirmation' %}";
      btn_resend.innerHTML = "<i class='bi bi-arrow-clockwise'>";
      btn_resend.setAttribute("data-toggle", "tooltip");
      btn_resend.setAttribute("data-placement", "top");
      btn_resend.setAttribute("title", "Resend an E-mail confirmation mail.");
      addon_after_email.parentElement.appendChild(btn_resend);
    }
    
    // user account
    let addon_after_user = document.getElementById('addon_after_user');
    addon_after_user.className = 'input-group-text';
    addon_after_user.setAttribute("data-toggle", "tooltip");
    addon_after_user.setAttribute("data-placement", "top");
    let icon_account = icon.cloneNode();
    if ({{user.is_active|yesno:"true,false"}}){
      icon_account.classList.add("bi-person-check", "text-success");
      addon_after_user.setAttribute("title", "Your Account is active");
    } else {
      icon_account.classList.add("bi-person-dash", "text-danger");
      addon_after_user.setAttribute("title", "You Account still has to get activated. <br>If your E-Mail is confirmed and you waited for 2 ore more days and your account is still not active, please write to max.schmit_at_hydrology.uni-freiburg.de");
    }
    addon_after_user.appendChild(icon_account);

    // addon after api
    let addon_after_api = document.getElementById('addon_after_api_pwd');
    if (addon_after_api){
      addon_after_api.className = 'btn-group';
      let btn_renew = document.createElement("a");
      btn_renew.id="btn_renew_api_pwd";
      btn_renew.className = "btn btn-outline-primary";
      btn_renew.href="{% url 'renew_db_password' %}";
      btn_renew.innerHTML = "<i class='bi bi-arrow-clockwise'>";
      btn_renew.setAttribute("data-toggle", "tooltip");
      btn_renew.setAttribute("data-placement", "top");
      btn_renew.setAttribute("title", "Renew the API Password");
      addon_after_api.appendChild(btn_renew);

      if (navigator.clipboard != undefined){
        let btn_clipboard = document.createElement('button');
        btn_clipboard.id = "btn_copy_api_pwd";
        btn_clipboard.className = btn_renew.className;
        btn_clipboard.innerHTML = "<i class='bi bi-clipboard'>";
        btn_clipboard.addEventListener("click",(e) => {
          e.PreventDefault();
          e.stopPropagation();
          let api_key_dom = document.getElementById("id_db_password");
          navigator.clipboard.writeText(api_key_dom.value).then(res=>{
            console.log("Input data copied to clipboard successfully");
        })
        });
        btn_clipboard.setAttribute("data-toggle", "tooltip");
        btn_clipboard.setAttribute("data-placement", "top");
        btn_clipboard.setAttribute("title", "Copy the API Password to your clipboard")
        addon_after_api.appendChild(btn_clipboard);   
      }

      let btn_download = document.createElement("a");
      btn_download.id="btn_download_api_pwd";
      btn_download.className = btn_renew.className;
      btn_download.href="{% url 'weatherDB:download_secret_settings' %}";
      btn_download.innerHTML = "<i class='bi bi-download'>";
      btn_download.setAttribute("data-toggle", "tooltip");
      btn_download.setAttribute("data-placement", "top");
      btn_download.setAttribute("title", "Download your personal secret settings file"); 
      addon_after_api.appendChild(btn_download);
    }    

  })();

  // addon after max download
  let addon_after_max_download = document.getElementById('addon_after_max_download');
  addon_after_max_download.className = 'btn-group';
    
  let btn_request_more = document.createElement("a");
  btn_request_more.id="btn_renew_max_download";
  btn_request_more.className = "btn btn-outline-primary";
  mail_body=encodeURIComponent("Hello Admin, \n\nI need a higher download limit for the weatherDB website, because: \n... fill out ...\n\nPlease update my Account.\n\nSincerely,\n")
  btn_request_more.href=`mailto:max.schmit@hydrology.uni-freiburg.de?subject=[WeatherDB]Request a higher download limit&body=${mail_body}`;
  btn_request_more.innerHTML = "<i class='bi bi-send'>";
  btn_request_more.setAttribute("data-toggle", "tooltip");
  btn_request_more.setAttribute("data-placement", "top");
  btn_request_more.setAttribute("title", "Request a higher download limit");
  addon_after_max_download.appendChild(btn_request_more);

  // start bootstrap tooltip
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

</script>

<script type="text/javascript" defer>
  $('#requestDBAccessModal').on('shown.bs.modal', function () {
    $('#requestDBAccessModalButton').trigger('focus')
  })
</script>

{% endblock %}


  