{% extends base_template %}
{% load static %}
{% load i18n %}

{%block head %}
<style type="text/css">
  div.card{
    width: 20rem;
  }
  img.card-img-top{
    padding-top: 0.5rem;
    margin-top: auto;
    max-height: 15rem;
    disply: block;
    width: auto;
    max-width: 98%;
  }
  div.card-body{
    flex-grow: 0;
    margin-top: auto !important;
  }
  div.card > i.bi-box-arrow-up-right{
    position: absolute;
    align-self: end;
    margin-right: 0.8rem !important;
    margin-top: 0.5rem !important;
    font-size: 1.5rem;
    align-self: flex-end !important;
    color: #004A99;
  }
  a.list-group-item {
    --bs-list-group-action-hover-color: #fff;
    --bs-list-group-action-hover-bg: #0d6efd;
  }
</style>
{% endblock %}

{% block content %}
  <h3>Hydro-Apps</h3>
  <p>{% trans "On this site you will find several Web Apllications that got created by the department of Hydrology at the University of Freiburg." %}</p>
  <div class="container">
    <div class="row g-4">
      <div class="col col-flex flex-grow-0">
        <div class="card h-100">
          <a href="{% url 'weatherdb:home' %}" class="stretched-link"></a>
          <img src="{% static 'weatherdb/img/icon-big.png' %}" class="card-img-top mx-auto" alt="Logo of WeatherDB" >
          <div class="card-body">
            <h5 class="card-title">WeatherDB</h5>
            <p class="card-text">{% trans "This is an Application to get quality checked, corrected and filled weather station time series for all of germany." %} </p>
          </div>
        </div>
      </div>
      <div class="col col-flex flex-grow-0">
        <div class="card h-100">
          <a href="{% url 'asgII:home' %}" class="stretched-link"></a>
          <img src="{% static 'asgII/img/logo-520.png' %}" class="card-img-top mx-auto" alt="Logo of asgII">
          <div class="card-body">
            <h5 class="card-title">ASG-II</h5>
            <p class="card-text">{% trans "This is an Application to get the climate projections of single weather stations." %} </p>
          </div>
        </div>
      </div>
      <div class="col col-flex flex-grow-0">
        <div class="card h-100">
          <a href="{% url 'sri_bw:home' %}" class="stretched-link"></a>
          <img src="{% static 'sri_bw/img/Logo_512.png' %}" class="card-img-top mx-auto" alt="Logo of SRI-BW">
          <div class="card-body">
            <h5 class="card-title">SRI-BW</h5>
            <p class="card-text">{% trans "Classification of heavy rain events for the state of Baden-Württemberg." %} </p>
          </div>
        </div>
      </div>
      {% if show_unreleased_apps.sfi_mockup %}
      <div class="col col-flex flex-grow-0">
        <div class="card h-100">
          <a href="{% url 'sfi_mockup:home' %}" class="stretched-link"></a>
          <img src="{% static 'sfi_mockup/img/AVOSS-Logo_512.png' %}" class="card-img-top mx-auto" alt="Logo of AVOSS project for SFI-Mockup App">
          <div class="card-body">
            <h5 class="card-title">SFI-Mockup</h5>
            <p class="card-text">{% trans "A small mockup to demonstrate the benefits of the pluvial flood index (german: SFI)." %} </p>
          </div>
        </div>
      </div>
      {% endif %}
      {% if show_unreleased_apps.kombstra %}
      <div class="col col-flex flex-grow-0">
        <div class="card h-100">
          <a href="{% url 'kombstra:home' %}" class="stretched-link"></a>
          <img src="{% static 'kombstra/img/Logo_512.png' %}" class="card-img-top mx-auto" alt="Logo of KombStRA">
          <div class="card-body">
            <h5 class="card-title">KombStRA</h5>
            <p class="card-text">{% trans "Classification of heavy rain events for all of germany." %} </p>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="col col-flex flex-grow-0">
        <div class="card h-100">
          <a target="_blank" rel="noopener noreferrer" href="https://naturwb.de" class="stretched-link"></a>
          <img src="{% static 'logos_other_sites/Logo_NatUrWB.png' %}" class="card-img-top mx-auto" alt="Logo of NatUrWB" >
          <i class="bi bi-box-arrow-up-right"></i>
          <div class="card-body">
            <h5 class="card-title">NatUrWB</h5>
            <p class="card-text">{% trans "This is an Application to get the near natural water balance of cities." %} </p>
          </div>
        </div>
      </div>
      <div class="col col-flex flex-grow-0">
        <div class="card h-100">
          <a target="_blank" rel="noopener noreferrer" href="http://www.naturnahe-regenwasserbewirtschaftung.info/" class="stretched-link"></a>
          <img src="{% static 'logos_other_sites/Logo_FReWaB.png' %}" class="card-img-top mx-auto" alt="Logo of FReWaB" >
          <i class="bi bi-box-arrow-up-right"></i>
          <div class="card-body">
            <h5 class="card-title">FReWaB</h5>
            <p class="card-text">{% trans "This is an Application to simulate the water balance of a small area in Freiburg and to show the effects near natural rainwater management can have on it." %} </p>
          </div>
        </div>
      </div>
      <div class="col col-flex flex-grow-0">
        <div class="card h-100">
          <a target="_blank" rel="noopener noreferrer" href="https://www.biozidauswaschung.de/" class="stretched-link"></a>
          <img src="{% static 'logos_other_sites/Logo_FReWaB-PLUS.png' %}" class="card-img-top mx-auto" alt="Logo of FReWaB-Plus" >
          <i class="bi bi-box-arrow-up-right"></i>
          <div class="card-body">
            <h5 class="card-title">FReWaB-Plus</h5>
            <p class="card-text">{% trans "This application simulates the mobilization of biocides from facades in cities and shows a potential risk to groundwater." %} </p>
          </div>
        </div>
      </div>
      {% comment %} Measurement links {% endcomment %}
      <div class="accordion" id="accordionAdditionals">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingAccMeasurements">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#AccMeasurements" aria-expanded="true" aria-controls="AccMeasurements">
              {% trans "Measurments" %}
            </button>
          </h2>
          <div id="AccMeasurements" class="accordion-collapse collapse show" aria-labelledby="headingAccMeasurements" data-bs-parent="#accordionAdditionals">
            <div class="accordion-body">
              <ul class="list-group d-inline-flex">
                <a class="list-group-item list-group-item-action d-flex justify-content-between"  target="_blank" rel="noopener noreferrer"
                   href="http://www.hydrology.uni-freiburg.de/aktuell/dreisam/index.html">
                  {% trans "Water level Dreisam" %}
                  <i class="bi bi-box-arrow-up-right ms-4"></i>
                </a>
                <a class="list-group-item list-group-item-action d-flex justify-content-between" target="_blank" rel="noopener noreferrer"
                   href="/shiny/MeteoVauban/" >
                  {% trans "Meteo Station Vauban" %}
                  <i class="bi bi-box-arrow-up-right ms-4"></i>
                </a>
                <a class="list-group-item list-group-item-action d-flex justify-content-between"  target="_blank" rel="noopener noreferrer"
                   href="/shiny/MeteoEichstetten/">
                  {% trans "Meteo Station Eichstetten" %}
                  <i class="bi bi-box-arrow-up-right ms-4"></i>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}