{% extends base_template %}
{% load static %}
{% load i18n %}

{%block head %}
<style type="text/css">
  div.card{
    width: 20rem;
  }
  img.card-img-top{
    width: 15rem;
  }
  div.card > i.bi-box-arrow-up-right{
    position: absolute;
    align-self: end;
    margin-right: 1rem !important;
    margin-top: 0.5rem !important;
    font-size: 1.5rem;
    color: #004A99;
    align-self: flex-end !important;
  }
</style>
{% endblock %}

{% block content %}
  <h3>Hydro-Apps</h3>
  <p>{% trans "On this site you will find several Web Apllications that got created by the department of Hydrology at the University of Freiburg." %}</p>
  <div class="container">
    <div class="row g-4">  
      <div class="col col-flex flex-grow-0">
        <div class="card h-100">
          <a href="{% url 'weatherDB:home' %}" class="stretched-link"></a>
          <img src="{% static 'weatherDB/img/icon-big.png' %}" class="card-img-top mx-auto" alt="Logo of WeatherDB" >
          <div class="card-body">
            <h5 class="card-title">WeatherDB</h5>
            <p class="card-text">{% trans "This is an Application to get quality checked, corrected and filled weather station time series for all of germany." %} </p>
          </div>
        </div>
      </div>
      {% if show_unreleased %}
      <div class="col col-flex flex-grow-0">
        <div class="card h-100">
          <a href="{% url 'klimzuk:home' %}" class="stretched-link"></a>
          <img src="{% static 'klimzuk/img/icon-big.png' %}" class="card-img-top mx-auto" alt="Logo of WeatherDB">
          <div class="card-body">
            <h5 class="card-title">KlimZuk</h5>
            <p class="card-text">{% trans "This is an Application to get the climate projections of single weather stations." %} </p>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="col col-flex flex-grow-0">
        <div class="card h-100">
          <a target="_blank" rel="noopener noreferrer" href="https://naturwb.de" class="stretched-link"></a>
          <img src="{% static 'logos_other_sites/Logo_NatUrWB.png' %}" class="card-img-top mx-auto" alt="Logo of WeatherDB" >
          <i class="bi bi-box-arrow-up-right"></i>
          <div class="card-body">
            <h5 class="card-title">NatUrWB</h5>
            <p class="card-text">{% trans "This is an Application to get the near natural water balance of cities." %} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}