@import "ol/ol.css";
@import "ol-ext/control/Legend.css";

#map {
  position: relative;
  width: 100%;
  /* 100% - navbar - h1 - 2*h4 - p - body_bottom */
  height: calc(100vh - 165px - .5em - 1.2*(1.375em + 1.5vw + .5em) - (2*1.2*(1.275em + 0.3vw) - .5em) - 1.2*2em - 2em);
  min-height: 70vh;
}
@media screen and (max-width: 768px) {
  #map {
    /* 100% - navbar - 2*h4 - footer*/
    height: calc(100vh - 165px - (2*1.2*(1.275em + 0.3vw) - .5em) - 1.2*2em);
  }
}
@media screen and (min-width: 1200px){
  #map {
    /* 100% - navbar - h1 - 2*h4 - p - body_bottom */
    height: calc(100vh - 165px - .5em - 1.2*2.5em - .5em - 1.2*1.5em - .5em - 1.2*2em - 2em);
  }

}

.ol-viewport {
  overflow: visible !important;
}
.ol-viewport canvas.ol-fixedoverlay {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%
}
div.colorbar {
  min-width: 100%;
}

/* Colorbar Legend */
div.ol-legend.ol-control:not(.ol-collapsed){
  height:81px;
  padding-right: 10px;
  padding-top: 5px;
  padding-left: 10px;
  min-width: 90%;
}
div.colorbar-label{
  font-weight: 600;
  font-size: 1rem;
}

/* continous and discret colorbar mixed */
div.colorbar-con-dis{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.colorbar-con-dis > div.colorbar-con{
  width: -moz-available;
  width: -webkit-fill-available;
}
div.colorbar-con-dis > div.colorbar-dis{
  margin-top: 5px;
  margin-left: 10px;
  width: fit-content;
}
div.colorbar-con-dis > div.colorbar-dis .colorbar-tick{
  width: max-content;
}

/* continous colorbar */
div.colorbar-con {
  margin-top: 5px;
}

div.colorbar-con div.colorbar-bar {
  height: 20px;
  margin: 0px 1rem 0px 1rem;
}

div.colorbar-con div.colorbar-ticks {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 20px;
  text-align: center;
}
div.colorbar-con div.colorbar-tick {
  min-width: 2rem;
}
div.colorbar-con div.colorbar-label{
  text-align: center;
}

/* discrete colorbar */
div.colorbar-dis div.colorbar-label{
  margin-bottom: 5px;
}
div.colorbar-elements{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
}
div.colorbar-dis div.colorbar-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.colorbar-dis div.colorbar-element > div.colorbar-color{
  width: 1.3rem;
  height: 1.3rem;
  border: 1px solid black;
  margin-right: calc(.1em + .35vw);
  margin-left: calc(.1em + .35vw);
}
div.colorbar-dis div.colorbar-label{
  margin-left: .5em;
}
div.colorbar-dis div.colorbar-element > div.colorbar-tick{
  text-align: center;
}

/* hover tooltip */
#info {
  position: relative;
  width: max-content;
  z-index: 100;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  margin: 2px;
  box-shadow: 0px 0px 2px 2px rgba(255,255,255,0.62);
  visibility: hidden;
  pointer-events: none;
}

/* Popup */
.ol-overlaycontainer-stopevent {
  z-index: revert!important;
}
.ol-overlay-popup {
  z-index: 1100;
}
.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  height: max-content;
  width: max-content;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

.popup-data{
  height: 100%;
  display:flex;
  flex-direction: column;
  width: min-content;
}
.popup-data .popup-header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
  padding-right: 1rem;
}
.popup-data .popup-header p {
  margin-bottom: 0;
}
.popup-data div.tab-content {
  overflow-y: scroll;
  max-height: 40vh;
  width: 100%;
  z-index:999;
  flex-grow: 1;
}

.popup-data div.tab-content table thead {
  position: sticky;
  top: 0;
  background-color: white;
}
.popup-data div.tab-content table thead th {
  padding-bottom: 0px;
  padding-top: 0px;
}
.popup-data div.tab-content table {
  margin-bottom: 0px;
}
.popup-data div.tab-content table tr.th-units th{
  padding-top: 0px;
}
.popup-data div.tab-content table th{
  padding-bottom: 3px;
}
.popup-data div.tab-content table .highlight{
  background-color: #4eafffc7;
}

/* spinner */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 50%;
  border: 5px solid rgba(180, 180, 180, 0.6);
  border-top-color: #004A99;
  animation: spinner 0.6s linear infinite;
}

.tooltip {
  z-index: 1101;
}

/* map annotation */
.ol-attribution a{
 color: var(--bs-link-color);
 z-index: 10;
}