{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_first %}
  <title>AVOSS - SFI Mockup</title>
  <link rel="icon" type="image/x-icon" href="{% static 'sfi_mockup/img/favicon.ico'%}">
  <meta name="description" content='{% trans "This is a mockup to show the usage of heavy flood index (german: SFI)." %}'>
{% endblock %}

{% block navbar_brand %}
  <img type="image/png" src="{% static "sfi_mockup/img/Logo_neg_128.png" %}" alt="AVOSS-Logo" class="d-none d-sm-inline">
{% endblock %}

{% block navbar_appname %}App Name{% endblock %}

{% block navbar_app %}
  <ul class="navbar-nav mr-auto">
    <li class="nav-item "><a href="{% url 'sfi_mockup:home' %}" class="nav-link">{% trans "Home" %}</a></li>
    <li class="nav-item "><a href="{% url 'sfi_mockup:method' %}" class="nav-link">{% trans "Method" %}</a></li>
    <li class="nav-item "><a href="{% url 'sfi_mockup:map' %}" class="nav-link">{% trans "Map" %}</a></li>
  </ul>
{% endblock %}