{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_first %}
  <title>AVOSS - SFI Mockup</title>
  <link rel="icon" type="image/x-icon" href="{% static 'sfi_mockup/img/favicon_128.ico'%}" sizes="128x128">
  <link rel="icon" type="image/x-icon" href="{% static 'sfi_mockup/img/favicon_32.ico'%}" sizes="32x32">
  <meta name="description" content='{% trans "This is a mockup to show the usage of heavy flood index (german: SFI)." %}'>
{% endblock %}

{% block navbar_brand %}
  <img type="image/png" src="{% static "sfi_mockup/img/AVOSS-Logo_128.png" %}" alt="AVOSS-Logo" class="d-none d-sm-inline"
       style="height: 60px; transform: translateY(-15px); margin-right: -40px;">
{% endblock %}

{% block navbar_appname %}SFI Mockup{% endblock %}

{% block navbar_app %}
  <ul class="navbar-nav mr-auto">
    <li class="nav-item "><a href="{% url 'sfi_mockup:home' %}" class="nav-link">{% trans "Home" %}</a></li>
    <li class="nav-item "><a href="{% url 'sfi_mockup:method' %}" class="nav-link">{% trans "Method" %}</a></li>
    <li class="nav-item "><a href="{% url 'sfi_mockup:app' %}" class="nav-link">{% trans "Mockup" %}</a></li>
  </ul>
{% endblock %}