{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_first %}
  <title>KombStRA</title>
  <link rel="icon" type="image/x-icon" href="{% static 'kombstra/img/favicon.ico'%}">
  <meta name="description" content='{% trans "A presentation of heavy rain events and there classification (SRI) out of radar measurements. Results from the AVOSS project." %}'>
{% endblock %}

{% block navbar_brand %}
  <img type="image/png" src="{% static "kombstra/img/logo-128.png" %}" alt="KombStRA-Logo" class="d-none d-sm-inline">
{% endblock %}

{% block navbar_appname %}KombStRA{% endblock %}

{% block navbar_app %}
  <ul class="navbar-nav mr-auto">
    <li class="nav-item "><a href="{% url 'kombstra:home' %}" class="nav-link">{% trans "Home" %}</a></li>
    <li class="nav-item "><a href="{% url 'kombstra:method' %}" class="nav-link">{% trans "Method" %}</a></li>
    <li class="nav-item "><a href="{% url 'kombstra:map' %}" class="nav-link">{% trans "Map" %}</a></li>
  </ul>
{% endblock %}

{% block body_all %}
  {% firstof "kombstra" as active_app %}
  {{ block.super }}
{% endblock %}