{% extends base_template %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block head %}
<style type="text/css">
  figure.logos {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
  }
  figure.logos img {
    height: 70px
  }
</style>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1>{% trans "Home" %}</h1>
        <p>{% blocktrans %}This web application is used to visualize past heavy rainfall events across Germany during summer months. The Heavy Rainfall Index (HRI - german: SRI) was used to classify the heavy rainfall events.{% endblocktrans %}</p>
        <p>{% trans "The underlying data and the web application were developed as part of the AVOSS project funded by the" %} <a href="https://www.bmftr.bund.de" target="_blank" ref="noopener">{% trans "BMFTR" %}<sup><i class="bi bi-box-arrow-up-right"></i></sup></a>{% if LANGUAGE_CODE == 'de'%} geförderten Projektes AVOSS entstanden{% endif %}. {% trans "More information about the project can be found on the" %} <a href="https://www.avoss.uni-freiburg.de/" target="_blank" ref="noopener">{% trans "AVOSS project homepage" %}<sup><i class="bi bi-box-arrow-up-right"></i></sup></a>{% trans "or on the" %} <a href="{% url 'sfi_demo:home' %}">{% trans "AVOSS Web-demonstrator" %}</a>.</p>
        <p>{% trans "The background information on the data presented can be found in the " %}<a href="{% url 'kombstra:method' %}">{% trans "Method section" %}</a>{% trans " or in the further information linked there. To visualize the various variables, please select the" %} <a href="{% url 'kombstra:map' %}">{% trans "Maps section" %}</a>{% if LANGUAGE_CODE == 'de'%} an{% endif %}.</p>
      </div>
      <div class="col-md-6 col-12" style="align-content: center;">
        <figure class="figure">
          <img src="{% static "kombstra/img/AVOSS-Konsortium-Logos.png" %}" alt="{% trans "The Logos of the AVOSS consortium" %}" style="width: 100%" class="figure-img img-fluid">
          <figurecaption class="figure-caption">{% trans "The Logos of the AVOSS consortium" %}</figurecaption>
        </figure>
      </div>
    </div>
  </div>
  <hr style="margin-bottom: 0px">
  <figurecaption class="figure-caption">{% trans "AVOSS is part of the WAX funding program of the Federal Ministry of Research, Technology and Space of germany (BMFTR)." %}</figurecaption>
  <figure class="logos">
    <a href="https://www.bmbf-wax.de/" target="_blank" rel="noopener noreferrer">
      <img src="{% static "kombstra/img/WAX.png" %}" alt="WAX - Logo" >
    </a>
    <a href="https://www.bmbf.de/SharedDocs/Publikationen/DE/7/31660_Wasser_N.html" target="_blank" rel="noopener noreferrer" class="ms-auto">
      <img src="{% static "kombstra/img/Wasser_N.png" %}" alt="Wasser:N - Logo"  style="height: 150px">
    </a>
    <a href="https://www.fona.de/de/" target="_blank" rel="noopener noreferrer">
      <img src="{% static "kombstra/img/FONA.svg" %}" alt="FONA - Logo" >
    </a>
    <a href="https://www.bmbf.de/" target="_blank" rel="noopener noreferrer">
      <img src="{% static "kombstra/img/BMFTR_"|add:LANGUAGE_CODE|add:".png" %}" alt="gefördert vom BMFTR - Logo" style="height: 110px">
    </a>
  </figure>
{% endblock %}