{% extends base_template %}
{% load static %}
{% load i18n %}
{% load django_vite %}

{% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% vite_hmr_client %}
{% endblock %}

{% block content %}

  <h1>{% trans "KombStRA map" %}</h1>
  <div class="container p-0 zoomable">
    <div id="app"></div>
  </div>

{% endblock content %}

{% block scripts %}
  {{ spans|json_script:"spans" }}
  {% vite_asset 'src/kombstra/main.js' %}
  {% comment %} {% vite_legacy_polyfills %} {% endcomment %}
{% endblock %}
