{% extends 'base.html' %}
{% load static %}

{% block head_first %}
  <title>KlimZuk</title>
  <link rel="icon" type="image/x-icon" href="{% static 'klimzuk/img/favicon.ico'%}">
  <meta name="description" content="Eine Darstellung der Klima-Prognosen für einzelne Wetter-Stationen. Ergebnisse des ASGII Projekts">
{% endblock %}

{% block navbar_brand %}
  <img type="image/png" src="{% static "klimzuk/img/icon.png" %}" alt="KlimZuk-Logo" class="d-none d-sm-inline">
{% endblock %}

{% block navbar_appname %}KlimZuk{% endblock %}

{% block navbar_app %}
  <ul class="navbar-nav mr-auto">
    <li class="nav-item "><a href="{% url 'klimzuk:home' %}" class="nav-link">Home</a></li>
    <li class="nav-item "><a href="{% url 'klimzuk:method' %}" class="nav-link">Methode</a></li>
    <li class="nav-item "><a href="{% url 'klimzuk:map' %}" class="nav-link">Karte</a></li>
  </ul>
{% endblock %}