{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_first %}
  <title>WeatherDB</title>
  <link rel="icon" type="image/x-icon" href="{% static 'weatherDB/img/favicon.ico'%}">
  <meta name="description" content='{% trans "An application to download quality checked, filled and corrected weather timeseries for all of germany." %}'>
{% endblock %}

{% block navbar_brand %}
  <img type="image/png" src="{% static "weatherDB/img/icon.png" %}" alt="WeatherDB-Logo" class="d-none d-sm-inline">
{% endblock %}

{% block navbar_appname %}WeatherDB{% endblock %}

{% block navbar_app %}
  <ul class="navbar-nav mr-auto">
    <li class="nav-item "><a href="{% url 'weatherDB:home' %}" class="nav-link">{% trans "Home" %}</a></li>
    <li class="nav-item "><a href="{% url 'weatherDB:method' %}" class="nav-link">{% trans "Method" %}</a></li>
    <li class="nav-item "><a href="{% url 'weatherDB:get_ts' %}" class="nav-link">{% trans "Download" %}</a></li>
    <li class="nav-item "><a href="{% url 'weatherDB:package' %}" class="nav-link">{% trans "Package" %}</a></li>
  </ul>
{% endblock %}

{% block body_all %}
  {% firstof "weatherDB" as active_app %}
  {{ block.super}}
{% endblock %}

{% block content %}
  <div class="container-fluid alert alert-warning" role "alert">
    <h3>Major error notification</h3>
    There were major errors in the previous data of the WeatherDB App.
    The error consisted of being too strict with the quality control, so too much data got removed.
    Furthermore the Richter correction had false exposition classes for many stations. Those errors got resolved on the 17.5.2023.
    For further information see the <a target="_blank" href="https://weatherdb.readthedocs.io/en/stable/CHANGES.html">Change-log</a> for Version 0.0.27-0.0.29.
  </div>
{% endblock %}

{% block copyright%}HyFr - Max Schmit (2023){%endblock%}