{% extends 'weatherDB/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="container-fluid alert alert-danger" role "alert">
    <h3>
      {% trans "We are sorry. The WeatherDB Database Server is not available at the moment, please come back in some minutes." %}
    </h3>
  </div>
  <div class="d-flex justify-content-center">
    <figure class="figure">
      <img class="img" src="{% static 'img/maintenance.png' %}" style="height:85vh"></img>
      <figcaption class="figure-caption text-center">
        <a target="_blank" rel="noopener noreferrer" href="https://www.freepik.com/free-vector/website-maintenance-abstract-concept-vector-illustration-website-service-webpage-seo-maintenance-web-design-corporate-site-professional-support-security-analysis-update-abstract-metaphor_11668822.htm#query=website%20maintenance&position=0&from_view=keyword&track=ais">Image by vectorjuice on Freepik</a>
      </figcaption>
    </figure>
  </div>
{% endblock %}