{% extends 'weatherdb/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}

    <!-- leaflet main -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""></script>
  <!-- leaflet cluster -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" integrity="sha384-lPzjPsFQL6te2x+VxmV6q1DpRxpRk0tmnl2cpwAO5y04ESyc752tnEWPKDfl1olr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" integrity="sha384-5kMSQJ6S4Qj5i09mtMNrWpSi8iXw230pKU76xTmrpezGnNJQzj0NzXjQLLg+jE7k" crossorigin="anonymous">
  <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js" integrity="sha384-RLIyj5q1b5XJTn0tqUhucRZe40nFTocRP91R/NkRJHwAe4XxnTV77FXy/vGLiec2" crossorigin="anonymous"></script>

  <!-- font-awesome -->
  <link rel="stylesheet" href={% static "weatherdb/css/leaflet.awesome-markers.css" %}>
  <script src={% static "weatherdb/js/leaflet/leaflet.awesome-markers.min.js" %}></script>

    <style>
      .loading {
        display: none;
        position: fixed;
        left:50%;
        top:50%;
        transform: translate(-50%, -40%);
        z-index: 401;
        max-width: 80%;
        width: auto;
      }
      .tooltip-inner {
        max-width: 420px !important;
    }
    </style>
    <link rel="stylesheet" href="{% static "weatherdb/css/get_ts.css" %}">

{% endblock %}

{% block content %}
  {{ block.super}}
  <div class="loading" id="loading">
    <img src="{% static "weatherdb/loading.gif" %}">
  </div>

  <div class="row">
    <div class="col-auto me-auto">
      <h1>{% trans "Get a timeserie" %}</h1>
    </div>
    <div class="col-auto ms-auto">
      <a type="button" class="btn btn-outline-primary" target="_blank"
         href="https://weatherdb.readthedocs.io/en/stable/CHANGES.html"
         data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
         title='{% trans "This is the Version of the WeatherDB-module that created the data in the database." %}<br>{% trans "Click to see all the Changes made in the module." %} <i class="bi bi-box-arrow-up-right"></i>'>
         Version: {{db_version}}
      </a>
    </div>
  </div>
  <p>{% trans "To download a timeserie you can select the stations from the following map." %}</p>
  <form action="{% url 'weatherdb:download_ts' %}" method='post' name="download_ts" id="download_form">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-5 col-12">

        <div class="container">
          <div class="row">
            <div class="form-group input-group col-xl-6 col-12 mb-3">
              <span class="input-group-text" id="label_from" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
              title='{% trans "Set the starting date of your timeserie" %}. <br>{% trans "The timeseries timestamp will be in UTC." %}'>{% trans "From" %}</span>
              <input type="date" class="form-control" id="period_start" name="period_start" >
              <div class="invalid-feedback" id="invalid-feedback-period_start"><ul></ul></div>
            </div>
            <div class="form-group input-group col-xl-6 col-12 mb-3">
              <span class="input-group-text" id="label_until" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
              title='{% trans "Set the ending date of your timeserie." %} <br>{% trans "The timeseries timestamp will be in UTC." %}'>{% trans "Until" %}</span>
              <input type="date" class="form-control" id="period_end" name="period_end" >
              <div class="invalid-feedback" id="invalid-feedback-period_end"><ul></ul></div>
            </div>
          </div>

          <div class="form-group input-group mb-3">
            <div class="input-group">
              <span class="input-group-text" id="label_aggregation" data-bs-toggle="tooltip" data-bs-placement="top" data-container="body" data-bs-html="true"
                title='{% trans "Choose the aggregation step you like to have." %}'>{% trans "Aggregation Step" %}</span>
              <select class="form-control" id="aggregation" name="aggregation">
                <option value="10 min">{% trans "10 minutes" %}</option>
                <option value="hour">{% trans "hourly" %}</option>
                <option value="day" selected>{% trans "daily" %}</option>
                <option value="month">{% trans "monthly" %}</option>
                <option value="year">{% trans "year" %}</option>
              </select>
            </div>
            <div class="bs-component" id="agg_alert_box"></div>
          </div>

          <div class="form-group input-group mb-3">
            <span class="input-group-text" id="label_split_date" style="display:block" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
              title='{% trans "Which format should the timestamp column have?" %}<ul><li>{% trans "RoGeR format is one column per date part(year, month...)" %}</li><li>{% trans "string representation is one timestamp column as string" %} (YYYY-MM-DD HH:mm:ss)</li></ul>'>{% trans "timestamp format" %}</span>
            <select class="form-control" id="split_date" name="split_date">
              <option value="True" selected>{% trans "RoGeR format" %}</option>
              <option value="False">{% trans "string representation" %}</option>
            </select>
          </div>

          <div class="form-group input-group mb-3">
            <span class="input-group-text" id="label_kind" style="display:block" data-bs-toggle="tooltip" data-bs-placement="top" data-container="body"
              title='{% trans "There are different steps of timeseries creation that can get downloaded. Choose the step you would like. For more information read the method section." %}'>{% trans "data kind" %}</span>

            <select class="form-control" id="kind" name="kind">
              <option value="best" selected>{% trans "4. Richter corrected and filled" %}</option>
              <option value="filled">{% trans "3. filled" %}</option>
              <option value="qc">{% trans "2. quality checked" %}</option>
              <option value="raw">{% trans "1. raw" %}</option>
            </select>
          </div>

          <div id="station_ids_div" class="form-group input-group mb-3">
            <span class="input-group-text" id="label_station_ids" data-bs-toggle="tooltip" data-bs-placement="top" data-container="body" data-bs-html="true"
              title='{% trans "Enter the station IDs you like as comma separated list" %}'>{% trans "selected Station IDs" %}</span>
            <textarea class="form-control" rows="1"
                    id="station_ids" name="station_ids" value=""
                    label='{% trans "selected Station IDs" %}' required></textarea>
            <div class="invalid-feedback" id="invalid-feedback-station_ids"><ul></ul></div>
          </div>

          <div class="accordion" id="accordion" class="mb-3">
            <div class="accordion-item">
              <div class="accordion-header" id="headingAccMap">
                <h5 class="mb-0">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseAccMap" id ="btn_colapse_card_accmap">
                    {% trans "Show selection on map" %}
                  </button>
                </h5>
              </div>
              <div id="collapseAccMap" class="collapse" aria-labelledby="headingAccMap" data-parent="#accordion">
                <div class="accordion-body">
                  <div class="row pb-1">
                    <button type="button" class="btn btn-primary me-1 col" id="btn_color_selection">{% trans "Color Selection" %}</button>
                    <button type="button" class="btn btn-primary col invisible" id="btn_remove_coloring">{% trans "Remove Coloring" %}</button>
                  </div>
                  <div class="row">
                    <button type="button" class="btn btn-primary me-1 col" id="btn_filter_stations">{% trans "Filter Selection" %}</button>
                    <button type="button" class="btn btn-primary col invisible" id="btn_remove_filter">{% trans "Remove Filters" %}</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion">
              <div class="accordion-header" id="headingAccAdd">
                <h5 class="mb-0">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseAccAdd" aria-expanded="false" aria-controls="collapseAccAdd" onClick="return false;" id ="btn_colapse_card_accadd">
                    {% trans "Additional options" %}
                  </button>
                </h5>
              </div>
              <div id="collapseAccAdd" class="collapse" aria-labelledby="headingAccAdd" data-parent="#accordion">
                <div class="accordion-body">
                  <div class="row pb-1">

                    <div class="form-group input-group">
                      <div class="form-check"
                          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-container="body" data-bs-trigger="hover"
                          title='{% trans "Should the information about the filling step be added." %}<ul><li>{% trans "If no aggregation is done, a &quot;filled_by&quot; column is added to the output, to show the Station ID from which the data was taken to fill the gap." %}<br>{% trans "No data in this column means the measurement is a real measurement." %}</li><li>{% trans "If the data got aggregated a filled_share column is added, giving the share of gap filled values in the aggregation group in percent." %}</li></ul>'>
                        <input class="form-check-input" type="checkbox" value="true" id="add_filled_by" name="add_filled_by">
                        <label class="form-check-label" for="add_filled_by" autocomplete=off>
                          {% trans "add gap filling information" %}
                        </label>
                        <div class="invalid-feedback" id="invalid-feedback-add_filled_by"><ul></ul></div>
                        <div class="bs-component" id="add_filled_by_alert_box"></div>
                      </div>
                    </div>

                    <div class="form-group input-group">
                      <div class="form-check"
                          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-container="body" data-bs-trigger="hover"
                          title='{% trans "Should the share of NAs be added, when the value got aggregated.<br>This adds a column with the share of NA values that where in the aggregation step in percent." %}'>
                        <input class="form-check-input" type="checkbox" value="true" id="add_na_share" name="add_na_share">
                        <label class="form-check-label" for="add_na_share" >
                          {% trans "add the share of NAs in the original data (only for aggregated values)" %}
                        </label>
                        <div class="invalid-feedback" id="invalid-feedback-add_na_share"><ul></ul></div>
                        <div class="bs-component" id="add_na_share_alert_box"></div>
                      </div>
                    </div>

                    <div class="form-group input-group">
                      <div class="form-check"
                          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-container="body" data-bs-trigger="hover"
                          title='{% trans "Should the minimal daily temperature value be added to the timeserie." %}'>
                        <input class="form-check-input" type="checkbox" value="true" id="add_t_min" name="add_t_min">
                        <label class="form-check-label" for="add_t_min" autocomplete=off>
                          {% trans "add minimal daily Temperature" %}
                        </label>
                        <div class="invalid-feedback" id="invalid-feedback-add_t_min"><ul></ul></div>
                        <div class="bs-component" id="add_t_min_alert_box"></div>
                      </div>
                    </div>
                    <div class="form-group input-group">
                      <div class="form-check"
                          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-container="body" data-bs-trigger="hover"
                          title='{% trans "Should the maximal daily temperature value be added to the timeserie." %}'>
                        <input class="form-check-input" type="checkbox" value="true" id="add_t_max" name="add_t_max">
                        <label class="form-check-label" for="add_t_max" autocomplete=off>
                          {% trans "add maximal daily Temperature" %}
                        </label>
                        <div class="invalid-feedback" id="invalid-feedback-add_t_max"><ul></ul></div>
                        <div class="bs-component" id="add_t_max_alert_box"></div>
                      </div>
                    </div>
                    <div class="form-group input-group">
                      <div class="form-check"
                          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-container="body" data-bs-trigger="hover"
                          title='{% trans "Should the output format be the RoGeR-toolbox format. This will rename the file and columns. Have a look at the examples in the " %}<a href="https://github.com/Hydrology-IFH/roger" target="_blank" rel="noopener noreferrer">GitHub-repository</a>'>
                        <input class="form-check-input" type="checkbox" value="true" id="toolbox_format" name="toolbox_format">
                        <label class="form-check-label" for="toolbox_format" autocomplete=off>
                          {% trans "RoGeR toolbox format" %}
                        </label>
                        <div class="invalid-feedback" id="invalid-feedback-toolbox_format"><ul></ul></div>
                        <div class="bs-component" id="toolbox_format_alert_box"></div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          {% if needs_captcha %}
            <div id="hcaptcha_div" class="row">
              {% comment %} {% bootstrap_field hcaptchaform.hcaptcha show_label='skip' %} {% endcomment %}
              {{ hcaptchaform.hcaptcha }}
              <div id="invalid-feedback-hcaptcha" class="alert alert-danger" role="alert" style="display:none"></div>
            </div>
          {% endif %}
          <div class="col d-inline-flex justify-content-end ps-0 me-0">
            <input type="submit" value='{% trans "download" %}' name="download_ts" class="btn btn-primary mt-1" style="font-size: 20px; font-weight: 600;" id="btn_download_ts">
          </div>
        </div>
      </div>

      <div class="col-sm-7 col-12">
        <div id="map" style="height: 80vh"></div>
      </div>
    </div>
  </form>

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    var needs_captcha = "{{ needs_captcha }}"=="True";
    var max_downloads = {{ wdb_max_downloads }};
    var download_url = "{% url 'weatherdb:download_ts' %}";
  </script>
  <script src="{% url 'weatherdb:javascript-catalog' %}"></script>
  {{ meta_n|json_script:"meta_n-data" }}
  {% comment %} {{ needs_captcha|script:"needs_captcha" }}
  {{ wdb_max_downloads|script:"wdb_max_downloads" }} {% endcomment %}
  {% if debug %}
    <script src={% static "weatherdb/js/get_ts_map.js" %} defer></script>
  {% else %}
    <script src={% static "weatherdb/js/get_ts_map.min.js" %} defer></script>
  {% endif%}


{% endblock %}