{% extends 'weatherDB/base.html' %}
{% load static %}

{% block head %}
<style>span{text-align: left;}</style>
<style>
    table {
        border-collapse: collapse;
        margin-bottom: 0.7em;
    }
    
    th {
        text-align: left;
        border-bottom: 1px solid;
    }
    
    th,
    td {
        padding: 5px 10px;
    }
    
    table > tbody > tr + tr > td {
        border-top: 1px solid;
    }
    
    blockquote {
        margin: 0 7px 0 5px;
        padding: 0 16px 0 10px;
        border-left-width: 5px;
        border-left-style: solid;
    }
</style>
{% endblock %}

{% block content %}
  {{ block.super}}
  {{ method|safe }}
{% endblock %}