{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_first %}
  <title>App Title</title>
  <link rel="icon" type="image/x-icon" href="{% static 'app_name/img/favicon.ico'%}">
  <meta name="description" content='{% trans "A presentation of heavy rain events and there classification (SRI) out of radar measurements. Results from the AVOSS project." %}'>
{% endblock %}

{% block navbar_brand %}
  <img type="image/png" src="{% static "app_name/img/Logo_neg_128.png" %}" alt="App Name-Logo" class="d-none d-sm-inline">
{% endblock %}

{% block navbar_appname %}App Name{% endblock %}

{% block navbar_app %}
  <ul class="navbar-nav mr-auto">
    <li class="nav-item "><a href="{% url 'app_name:home' %}" class="nav-link">{% trans "Home" %}</a></li>
    <li class="nav-item "><a href="{% url 'app_name:method' %}" class="nav-link">{% trans "Method" %}</a></li>
    <li class="nav-item "><a href="{% url 'app_name:map' %}" class="nav-link">{% trans "Map" %}</a></li>
  </ul>
{% endblock %}