{% extends base_template %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<h2>{% trans "Login to Hydro-Apps" %}</h2>
{% if user.is_authenticated %}
  <p>
      {% trans "You are already loged in as" %}: {{ user }}
      <br>
      <a type="button" class="btn btn-primary" href="{% url 'logout' app_name=active_app %}">{% trans "Log out" %}</a>
      </div>
  </p>
  </div>
{% else %}
  <p>{% trans "No Account yet?" %} --> <a href="{% url 'register' app_name=active_app %}" class ="btn btn-primary">{% trans "Register" %}</a></p>
  <form method="post" action="{% url 'login' app_name=active_app %}?next={% url active_app|add:':home' %}">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% trans "Username" as user %} {% trans "E-Mail/Username" as ph_user %}
    {% bootstrap_field form.username show_label='skip' addon_before=user placeholder=ph_user %}
    {% trans "Password" as pass %}
    {% bootstrap_field form.password show_label='skip' addon_before=pass addon_after_class=None addon_after='<a id="a_password_reset" class="btn btn-outline-primary"></a>'%}
    <input class="btn btn-primary" type="submit" value='{% trans "Login" %}'>
  </form>
  <script>
    (() => {
      a_reset = document.getElementById("a_password_reset");
      a_reset.href = "{% url 'password_reset' app_name=active_app %}";
      a_reset.textContent = '{% trans "Forgot Password" %}'
    })()
  </script>
{% endif %}

{% endblock %}