{% extends base_template %}
{% load i18n %}

{% block content %}
{%if email_send %}
    <h2>{% trans "Your request for WeatherDB-Database access got send to the Admins" %}</h2>
    <p>{% trans "This can take several days until the admin will provide you with the requested privileges." %}</p>
    <p>{% trans "You will get notified by E-Mail when your request is treated.  Please also check your spam folder." %}</p>
{% else %}
    <h2>{% trans "Your request could <b>not</b> get send to the admins." %}</h2>
    <p>{% trans "It seems that your account did not get activated yet or you didn't activate your E-mail adress until now." %}</p>
    <p>{% trans "As long as your profile is not complete, you will not be able to get WeatehrDB-database access." %}</p>
{% endif %}
{% endblock %}