:root {
  --uni-blue      : #344A9A;
  --uni-blue-100  : var(--uni-blue);
  --uni-blue-80   : #5D6BAD;
  --uni-blue-60   : #868DC2;
  --uni-blue-40   : #AFB1D8;
  --uni-blue-20   : #D7D8EC;
  --uni-blue-dark : #00004a;
  --uni-sand      : #f6f1e3;
  --uni-sand-100  : var(--uni-sand);
  --uni-sand-0    : #faf8f1;
  --uni-black     : #000000;
  --uni-white     : #ffffff;
  --uni-green     : #00a082;
  --uni-green-100 : var(--uni-green);
  --uni-green-80  : #27b29b;
  --uni-green-60  : #7bc6b4;
  --uni-green-40  : #afdace;
  --uni-green-20  : #030303;
  --uni-brown     : #8f6b30;
  --uni-brown-100 : var(--uni-brown);
  --uni-brown-80  : #a58959;
  --uni-brown-60  : #bca683;
  --uni-brown-40  : #d2c4ac;
  --uni-brown-20  : #e9e1d6;
  --uni-yellow      : #ffe863;
  --uni-yellow-100  : var(--uni-yellow);
  --uni-yellow-80   : #ffed82;
  --uni-yellow-60   : #fff1a1;
  --uni-yellow-40   : #fff6c1;
  --uni-yellow-20   : #fffae0;
  --uni-rose      : #f5c2ed;
  --uni-rose-100  : var(--uni-rose);
  --uni-rose-80   : #f7cef1;
  --uni-rose-60   : #f9daf4;
  --uni-rose-40   : #fbe7f8;
  --uni-rose-20   : #fdf3fb;
}