@import "ol/ol.css";
@import "ol-ext/control/Legend.css";
/* @import "ol-ext/control/"; */

/* #map {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
} */

.ol-viewport canvas.ol-fixedoverlay {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%
}