/* overall styling */
.popover{
  max-width: 15cm;
}
p{
  max-width: 30cm;
}
ul{
  max-width: 30cm;
}
html {
  scroll-behavior: smooth;
}
.container{
  max-width:38cm;
}

/* quellen */
.quellen{
  max-width:30cm;
  font-size: 0.8rem;
  padding-top: 0.7rem;
  border-top: 1px solid #bbbbbb;
}
.quellen :target {
  background-color: #F4A041;
  border-radius: 0.2rem;
  padding: 4px;
}
a.highlight{
  background-color: #F4A041;
  border-radius: 0.2rem;
  padding: 4px;
}

/* table styling */
table.header td{
  margin:0;
  padding:0;
}
table.header{
  margin:10;
  padding:10;
}
.table {
  --bs-table-striped-bg: rgba(0, 0, 0, .1);
}

/* navbar */
div.header{
  z-index:1001;
  position: sticky;
  top: 0;
}
table.header>tbody>tr:first-child{
  /* position:relative; */
  height: 115px;
}
table.header>tbody>tr:last-child{
  height: 50px
}
td.navbar-container{
  position: relative;
  width: 100%;
  background-color: #064A98
}
td.navbar-container>div.container{
  max-width: none;
  position: absolute;
  z-index: 10;
  top: 50px;
  transform: translateY(-50px);
  min-height: 115px;
  align-content: center;
}
.webapps-menu span {
  font-size:34px;
  color: var(--bs-navbar-brand-hover-color);
}
.navbar-brand img {
  height: 75px;
}
.navbar-toggler{
  border: 0px;
}
.dropdown-item{
  font-size: 20px;
}
.dropdown-apps li{
  padding: 3px;
}
div.lang-dropdown-menu{
  min-width: 0;
}
a.nav-link{
  font-size: 24px;
}
/* footer */
.footer{
  z-index: 10;
}