.popover{max-width: 15cm; }
p{max-width: 30cm; }
ul{max-width: 30cm; }
html {
  scroll-behavior: smooth;
}
.quellen{
  max-width:30cm;
  font-size: 0.8rem;
  padding-top: 0.7rem;
  border-top: 1px solid #bbbbbb;
}
.quellen :target {
  background-color: #F4A041;
  border-radius: 0.2rem;
  padding: 4px;
}
a.highlight{
  background-color: #F4A041;
  border-radius: 0.2rem;
  padding: 4px;
}
/* .quellen :target {
  -webkit-animation: target-fade 5s 1;
	-moz-animation: target-fade 5s 1;
}
a.highlight{
  -webkit-animation: target-fade 5s 1;
	-moz-animation: target-fade 5s 1;
}
@-webkit-keyframes target-fade {
	0% {
    background-color: #F4A041;
  }
	100% {
    background-color: none;
    border-radius: 0rem;
    padding: 0px;
  }
}
@-moz-keyframes target-fade {
	0% {
    background-color:#F4A041;
  }
	100% {
    background-color: none;
    border-radius: 0rem;
    padding: 0px;
  }
} */

.container{max-width:38cm;}
table.header td{
  margin:0;
  padding:0;
}
table.header{
  margin:10;
  padding:10;
}
.webapps-menu span {
  font-size:34px;
  color: var(--bs-navbar-brand-hover-color);
}
.navbar-brand img {
  height: 75px;
}
.navbar-toggler{
  border: 0px;
}
.dropdown-apps .dropdown-item{
  font-size: 20px;
}
.dropdown-apps li{
  padding: 3px;
}
div.lang-dropdown-menu{
  min-width: 0;
}
a.nav-link{
  font-size: 24px;
}