{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_first %}
  <title>RheiKlim</title>
  <link rel="icon" type="image/x-icon" href="{% static 'RheiKlim/img/favicon.ico'%}">
  <meta name="description" content='{% trans "A presentation of climate forecasts for individual weather stations in the Rhine river catchement. Results from the ASG-II project." %}'>
{% endblock %}

{% block navbar_brand %}
  <img type="image/png" src="{% static "RheiKlim/img/logo_neg-128.png" %}" alt="RheiKlim-Logo" class="d-none d-sm-inline">
{% endblock %}

{% block navbar_appname %}RheiKlim{% endblock %}

{% block navbar_app %}
  <ul class="navbar-nav mr-auto">
    <li class="nav-item "><a href="{% url 'RheiKlim:home' %}" class="nav-link">{% trans "Home" %}</a></li>
    <li class="nav-item "><a href="{% url 'RheiKlim:method' %}" class="nav-link">{% trans "Method" %}</a></li>
    <li class="nav-item "><a href="{% url 'RheiKlim:map' %}" class="nav-link">{% trans "Map" %}</a></li>
  </ul>
{% endblock %}