{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_first %}
  <title>AVOSS - Web-Demonstrator</title>
  <link rel="icon" type="image/x-icon" href="{% static 'sfi_demo/img/favicon_128.ico'%}" sizes="128x128">
  <link rel="icon" type="image/x-icon" href="{% static 'sfi_demo/img/favicon_32.ico'%}" sizes="32x32">
  <meta name="description" content='{% trans "This is a demonstrator app to show the usage of heavy flood index (german: SFI)." %}'>
{% endblock %}

{% block navbar_brand %}
  <img type="image/png" src="{% static "sfi_demo/img/AVOSS-Logo_128.png" %}" alt="AVOSS-Logo" class="d-none d-sm-inline"
       style="height: 60px; margin-top: 7.5px; margin-bottom: 7.5px;">
{% endblock %}

{% block navbar_appname %}AVOSS Web-Demonstrator{% endblock %}

{% block navbar_app %}
  <ul class="navbar-nav mr-auto">
    <li class="nav-item "><a href="{% url 'sfi_demo:home' %}" class="nav-link">{% trans "Home" %}</a></li>
    <li class="nav-item "><a href="{% url 'sfi_demo:method' %}" class="nav-link">{% trans "Method" %}</a></li>
    <li class="nav-item "><a href="{% url 'sfi_demo:app' %}" class="nav-link">{% trans "Demonstrator" %}</a></li>
    <li class="nav-item "><a href="{% url 'sfi_demo:feedback' %}" class="nav-link">{% trans "Feedback" %}</a></li>
  </ul>
{% endblock %}

{% block copyright %}HyFr (2025){% endblock copyright %}