{% extends base_template %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block head %}
<style type="text/css">
  div.row.sri-figures figure {
    max-height: 450px;
  }
  div.row.sri-figures img {
    max-height: 400px;
  }
</style>
{% endblock %}

{% block content %}

  <h1>{% trans "Home" %}</h1>
  <p>Das Projekt AVOSS (Auswirkungsbasierte Vorhersage von Starkregen und Sturzfluten auf verschiedenen Skalen: Potentiale, Unsicherheiten und Grenzen) ist ein vom BMBF im Rahmen der Fördermaßnahme „WaX – Wasser-Extremereignisse“ gefördertes Projekt zum Themenkomplex pluvialer Sturzfluten.
  </p>
  <p>Ziel von AVOSS ist es, einen entscheidenden Beitrag dazu zu leisten, die bestehende Lücke zu Sturzfluten im Warnsystem zu schließen. Mehr Informationen zu AVOSS finden Sie unter <a href="https://www.avoss.uni-freiburg.de" target="_blank" rel="noopener noreferrer">www.avoss.uni-freiburg.de <sup><i class="bi bi-box-arrow-up-right"></i></sup></a></p>
  <br>
  <p>Mit diesem Web-Demonstrator sollen die im Rahmen von AVOSS entwickelten, prototypischen Vorhersage- bzw. Warnprodukte vorgestellt werden. Die Hintergründe zu den dargestellten Daten finden Sie im Bereich Methode, bzw. in den dort verlinkten weiterführenden Informationen.</p>

  <hr>
  <div class="logos">
    <a href="https://www.bmbf-wax.de/" target="_blank" rel="noopener noreferrer">
      <img src="{% static "sfi_demo/img/WAX.png" %}" alt="WAX - Logo" >
    </a>
    <a href="https://www.bmbf.de/SharedDocs/Publikationen/DE/7/31660_Wasser_N.html" target="_blank" rel="noopener noreferrer" class="ms-auto">
      <img src="{% static "sfi_demo/img/Wasser_N.png" %}" alt="Wasser:N - Logo"  style="height: 150px">
    </a>
    <a href="https://www.fona.de/de/" target="_blank" rel="noopener noreferrer">
      <img src="{% static "sfi_demo/img/FONA.svg" %}" alt="FONA - Logo" >
    </a>
    <a href="https://www.bmbf.de/" target="_blank" rel="noopener noreferrer">
      <img src="{% static "sfi_demo/img/BMBF.png" %}" alt="gefördert vom BMBF - Logo" style="height: 110px">
    </a>
  </div>

  <style>
    div.logos {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
    }
    div.logos img {
      height: 70px
    }
  </style>

{% endblock %}