{% extends base_template %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block head %}
<style type="text/css">
  div.row.sri-figures figure {
    max-height: 450px;
  }
  div.row.sri-figures img {
    max-height: 400px;
  }
</style>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1>{% trans "Home" %}</h1>
          <p>{% blocktrans %}The AVOSS project (Impact-based prediction of heavy rainfall and flash floods on different scales: potentials, uncertainties, and limitations) is a project funded by the BMFTR as part of the "WaX - Water Extreme Events" funding measure on the topic of pluvial flash floods. {% endblocktrans %}
          </p>
          <p>{% trans "The aim of AVOSS is to make a decisive contribution to closing the existing gap in the warning system for flash floods. More information about AVOSS can be found at the" %} <a href="https://www.avoss.uni-freiburg.de" target="_blank" rel="noopener noreferrer">{% trans "AVOSS project homepage" %} <sup><i class="bi bi-box-arrow-up-right"></i></sup></a></p>
          <br>
          <p>{% trans "This" context "prior demonstrator link" %} <a href="{% url 'sfi_demo:app' %}">{% trans "web demonstrator" %}</a> {% trans "is intended to present the prototype prediction and warning products developed within the framework of AVOSS. Background information on the data presented can be found in the" %} <a href={% url 'sfi_demo:method'%}>{% trans "Method section" %}</a> {% trans "and in the further information linked there." %}</p>
      </div>
      <div class="col-md-6 col-12" style="align-content: center;">
        <figure class="figure">
          <img src="{% static "sfi_demo/img/AVOSS-Konsortium-Logos.png" %}" alt="{% trans "The Logos of the AVOSS consortium" %}" style="width: 100%" class="figure-img img-fluid">
          <figurecaption class="figure-caption">{% trans "The Logos of the AVOSS consortium" %}</figurecaption>
        </figure>
      </div>
    </div>
  </div>

  <hr style="margin-bottom: 0px">
  <figurecaption class="figure-caption">{% trans "AVOSS is part of the WAX funding program of the Federal Ministry of Research, Technology and Space of germany (BMFTR)." %}</figurecaption>
  <figure class="logos">
    <a href="https://www.bmbf-wax.de/" target="_blank" rel="noopener noreferrer">
      <img src="{% static "sfi_demo/img/WAX.png" %}" alt="WAX - Logo" >
    </a>
    <a href="https://www.bmbf.de/SharedDocs/Publikationen/DE/7/31660_Wasser_N.html" target="_blank" rel="noopener noreferrer" class="ms-auto">
      <img src="{% static "sfi_demo/img/Wasser_N.png" %}" alt="Wasser:N - Logo"  style="height: 150px">
    </a>
    <a href="https://www.fona.de/de/" target="_blank" rel="noopener noreferrer">
      <img src="{% static "sfi_demo/img/FONA.svg" %}" alt="FONA - Logo" >
    </a>
    <a href="https://www.bmbf.de/" target="_blank" rel="noopener noreferrer">
      <img src="{% static "sfi_demo/img/BMFTR_"|add:LANGUAGE_CODE|add:".png" %}" alt="gefördert vom BMFTR - Logo" style="height: 110px">
    </a>
  </figure>

  <style>
    figure.logos {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
    }
    figure.logos img {
      height: 70px
    }
  </style>

{% endblock %}