/* To change the color of the markers */
img.marker-selected {
    filter: hue-rotate(-110deg);
}
img.marker-unselected {
    filter: hue-rotate(150deg);
}
.legend {
    color: #555;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 5px;*/
    line-height: 30px;
}
.legend img {
    max-height: 24px;
    float: left;
    margin-left: 10px ;
    margin-top: 0px;
}

/* For plots */
div#plot_area{
    width: 100%;
    height: auto;
}

div#plot_area>.card {
    min-width: 50px;
    position: relative;
    height: 800px;
}

img.plot_img{
    width:100%;
    height: auto
}

div#plot_area .card-title{
    position: relative;
    z-index: 10;
}

div.plot_card{
    position: absolute;
    top: 20px;
    left: 5px;
    width: 400px;
}

div.plot_card .btn-close{
    position: absolute;
    top: 8px;
    left: 8px;
}

#plot_area div.plot-area-buttons{
    display: flex;
    flex-direction: row;
    z-index: 20;
    float: right;
    transform: translate(0,-45px);
    position: relative;
}

.marker-legend {
    position: relative;
}

div.explanation-plot {
    position: relative;    
}

div.explanation-plot > div {
    position: absolute;    
    border-radius: 3px;
    
    /* only for creating purpose */
    /* border: 1px solid black;  */
}

div.explanation-plot > div:hover{
    border: 1px solid var(--bs-primary);
    box-shadow: 0 0 10px #9ecaed;
    outline: none;
}

.tooltip{
    --bs-tooltip-max-width: 300px;
}