{% extends base_template %}
{% load static %}

{%block head %}
<style type="text/css">
  div.card{
    width: 20rem;
  }
  img.card-img-top{
    width: 15rem;
  }
</style>
{% endblock %}

{% block content %}
  <h3>Hydro-Apps</h3>
  <p>On this Site you will find several Web Apllication that got created on the department of Hydrology at the University of Freiburg.</p>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">  
      <div class="col">
        <div class="card">
          <a href="weatherDB/" class="stretched-link"></a>
          <img src="{% static 'weatherDB/img/icon-big.png' %}" class="card-img-top mx-auto" alt="Logo of WeatherDB" >
          <div class="card-body">
            <h5 class="card-title">WeatherDB</h5>
            <p class="card-text">This is an Application to get quality checked, corrected and filled weather station time series for all of germany. </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <a href="klimzuk/" class="stretched-link"></a>
          <img src="{% static 'klimzuk/img/icon-big.png' %}" class="card-img-top mx-auto" alt="Logo of WeatherDB">
          <div class="card-body">
            <h5 class="card-title">KlimZuk</h5>
            <p class="card-text">This is an Application to get the climate projections of single weather stations. </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <a href="https://naturwb.de" class="stretched-link"></a>
          <img src="{% static 'logos_other_sites/Logo_NatUrWB.png' %}" class="card-img-top mx-auto" alt="Logo of WeatherDB" >
          <div class="card-body">
            <h5 class="card-title">NatUrWB</h5>
            <p class="card-text">This is an Application to get the near natural water balance of cities. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}